@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto&display=swap');

body {
    background-color: #BBE2EC;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('images/carrot_rain.png');
}

h1, h2, h3 {
    font-family: 'Roboto';
    color: #000000;
    background-color: #8DD9EC;
    width: 30%;
    border-radius: 7px;
    border-style: solid;
    border-color: #34A9C6;
    padding: 5px;
}

#reach {
    width: 50%
}

#random {
    width: 70%;
}

#companion {
    width: 80%;
}

#companion:hover {
    background-color: #ffffff;
    border-color: #000000;
}

#companion > a {
    color: black;
    display: block;
}

#dragon {
    width: 100%;
    position: static;
}

#git:hover {
    color:#fafafa;
    background-color: #333;
    border-color: #f5f5f5;
}

#link:hover {
    color:#fdfaf5;
    background-color: #0a66c2;
    border-color: #fdfaf5 ;
}

#randominfo, #dragoninfo, #compinfo {
    height: 208px;
    text-align: center;
}

#tipinfo, #calcinfo {
    height: 108px;
}

.info {
    padding: 1px;
    height: 200px;
    margin: 50px;
}

img {
    margin-right: 10px;
}

section > img {
    float: left
}

section > p {
    position: static;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 30px;
    right: 60px;
}

section > h2 {
    position: static;
}

form {
    margin-top: 20px;
    width: 90%;
}

p, form, #git, #link, #companion {
    background-color: #8DD9EC;
    border-style: solid;
    border-color: #34A9C6;
    padding: 5px;
    border-radius: 5px;
}

img {
    background-color: #8DD9EC;
    padding: 5px;
    border-radius: 7px;
    border-style: solid;
    border-color: #34A9C6;
}

nav {
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
}

nav a {
    color:#0B0B5B;
    display: block;
    padding: 8px;
    text-decoration: none;
    font-family: 'Roboto';
}

nav a:hover {
    color:#0b0b56;
    background-color: #58a1fb;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 20px;
    background-color: #e3eced;
    overflow: hidden;
    top: 0;
    width: 100%;
    border-radius: 8px;
    border: 3px solid #90b9e4;
}

li {
    display: inline;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.active {
    background-color: #58a1fb;
    color: #000000;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    p {
        text-align: left;
    }

    h1, h2, h3 {
        width: 85%;
    }

    input[type=submit] {
        width: 60px;
        height: 50px;
    }

    input[type=text] {
        height: 25px;
    }

    nav {
        position: sticky;
        top: 0;
    }

    #git, #link {
        padding: 15px;
    }

}