@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto&display=swap');

body {
    background-color: #BBE2EC;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('images/carrot_rain.png');
}

h1, h2, h3 {
    font-family: 'Roboto';
    color: #000000;
    background-color: #8DD9EC;
    width: 30%;
    border-radius: 7px;
    border-style: solid;
    border-color: #34A9C6;
    padding: 5px;

}

#reach {
    width: 50%
}

#companion {
    width: 80%;
}

#dragon {
    width: 95%
}

#git {
    background-color: #8DD9EC;
    border-radius: 7px;
    border-style: solid;
    border-color: #34A9C6;

}

p {
    background-color: #8DD9EC;
    border-style: solid;
    border-color: #34A9C6;
    padding: 5px;
    border-radius: 5px;
}

img {
    background-color: #8DD9EC;
    padding: 5px;
    border-radius: 7px;
    border-style: solid;
    border-color: #34A9C6;
}

a {
    text-decoration: none;
}

nav a {
    color:#0B0B5B;
    display: block;
    padding: 8px;
    text-decoration: none;
    font-family: 'Roboto';
}

nav a:hover {
    color:#0b0b56;
    background-color: #58a1fb;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 20px;
    background-color: #e3eced;
    overflow: hidden;
    top: 0;
    width: 100%;
    border-radius: 8px;
    border: 3px solid #90b9e4;
}

li {
    display: inline;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.active {
    background-color: #58a1fb;
    color: #000000;
    border-radius: 8px;
}
